/* font-family: 'Comfortaa', cursive;
font-family: 'Poppins', sans-serif; */



.concepto {
    background: url(../img/DETALLE.jpg) no-repeat center center fixed;
    background-size: cover;
    padding-top: 25rem;

}



.concepto__p {
    font-size: 1rem;

}

h1 {
    font-family: 'Comfortaa', cursive;
    font-weight: 500;
}

h2,
h2,
h3,
h4,
h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}



p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;

}

#servicio {
    background-color: #FFFFFF;
    background: linear-gradient(to bottom, rgb(255, 255, 255), rgb(0, 0, 0));
    background-attachment: fixed;
    background-size: contain;
    padding-top: 2rem;
}

.modal-body p {
    font-size: .8rem;
}
.casa {
    background: url(../img/CORAZON.jpg) no-repeat center center fixed;
    background-size: cover;
    padding-top: 25rem;

} 


#galeria{
    background-color: #f7f3ff;
}


.card {
    height: 100%;
    border-radius: 5%;
  
}


.la {
    background: url(../img/DETALLE.jpg) no-repeat center center fixed;
    background-size: cover;
    padding-top: 25rem;

}
/* Platos del mes */

.img {
    width: 15rem;
    height: 15rem;
    background-image: url(../img/PLATOS\ 1.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    box-shadow: 4px 4px 5px rgb(0, 0, 0, .1);
    transform: scale(0.9) translateX(100px);
    transition: .7s ease-in-out;
    border-radius: 10%;
    margin-left: -4rem;


}

.img:hover::after {
    transform: translateY(0);
}

.img::after {
    content: 'Dedos de calamar';
    font-size: 1.5rem;
    color: white;
    background-color: #23232480;
    position: absolute;
    inset: 0;
    place-items: center;
    text-align: center;
    padding-top: 45%;
    transform: translateY(100%);
    transition: .5s;

}

.img-2 {
    width: 15rem;
    height: 15rem;
    background-image: url(../img/PLATOS\ 2.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    box-shadow: 4px 4px 5px rgb(0, 0, 0, .1);
    transform: scale(0.9) translateX(100px);
    transition: .7s ease-in-out;
    border-radius: 10%;
    margin-left: -4rem;


}

.img-2:hover::after {
    transform: translateY(0);
}

.img-2::after {
    content: "Salmón con mouse de maracuya";
    font-size: 1.5rem;
    color: white;
    background-color:#23232480;
    position: absolute;
    inset: 0;
    place-items: center;
    text-align: center;
    padding-top: 45%;
    transform: translateY(100%);
    transition: .5s;

}

.img-3 {
    width: 15rem;
    height: 15rem;
    background-image: url(../img/PLATOS\ 3.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    box-shadow: 4px 4px 5px rgb(0, 0, 0, .1);
    transform: scale(0.9) translateX(100px);
    transition: .7s ease-in-out;
    border-radius: 10%;
    margin-left: -4rem;


}

.img-3:hover::after {
    transform: translateY(0);
}

.img-3::after {
    content: "Lenguado con vegetales";
    font-size: 1.5rem;
    color: white;
    background-color: #23232480;
    position: absolute;
    inset: 0;
    place-items: center;
    text-align: center;
    padding-top: 45%;
    transform: translateY(100%);
    transition: .5s;

}

.img-4 {
    width: 15rem;
    height: 15rem;
    background-image: url(../img/PLATOS\ 4.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    box-shadow: 4px 4px 5px rgb(0, 0, 0, .1);
    transform: scale(0.9) translateX(100px);
    transition: .7s ease-in-out;
    border-radius: 10%;
    margin-left: -4rem;


}

.img-4:hover::after {
    transform: translateY(0);
}

.img-4::after {
    content: "Salmon en cama de rúcula";
    font-size: 1.5rem;
    color: white;
    background-color: #23232480;;
    position: absolute;
    inset: 0;
    place-items: center;
    text-align: center;
    padding-top: 45%;
    transform: translateY(100%);
    transition: .5s;

}

.img-5 {
    width: 15rem;
    height: 15rem;
    background-image: url(../img/PLATOS\ 5.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    box-shadow: 4px 4px 5px rgb(0, 0, 0, .1);
    transform: scale(0.9) translateX(100px);
    transition: .7s ease-in-out;
    border-radius: 10%;
    margin-left: -4rem;


}

.img-5:hover::after {
    transform: translateY(0);
}

.img-5::after {
    content: "Sopa";
    font-size: 1.5rem;
    color: white;
    background-color: #23232480;
    position: absolute;
    inset: 0;
    place-items: center;
    text-align: center;
    padding-top: 45%;
    transform: translateY(100%);
    transition: .5s;

}

.img-6 {
    width: 15rem;
    height: 15rem;
    background-image: url(../img/PLATOS\ 6.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    box-shadow: 4px 4px 5px rgb(0, 0, 0, .1);
    transform: scale(0.9) translateX(100px);
    transition: .7s ease-in-out;
    border-radius: 10%;
    margin-left: -4rem;


}

.img-6:hover::after {
    transform: translateY(0);
}

.img-6::after {
    content: "Salmon en sal";
    font-size: 1.5rem;
    color: white;
    background-color: #23232480;
    position: absolute;
    inset: 0;
    place-items: center;
    text-align: center;
    padding-top: 45%;
    transform: translateY(100%);
    transition: .5s;

}

/* fin platos del mes */



#contacto {
    background-image: url(../img/contacto-fondo.jpg);
    background-size: cover;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.fa-instagram-square {
    font-size: 2rem;
}

.fa-whatsapp-square {
    font-size: 2rem;
}


.arriba {
    width: 20%;
    height: auto;
    position: fixed !important;
    z-index: 2;
   
    bottom: 3rem;
    right: 1rem;
    transform: rotate(0deg);
    opacity: 100%;
}

@media(min-width:350px) {

    .img,
    .img-2,
    .img-3,
    .img-4,
    .img-5,
    .img-6 {
        margin-left: -2rem;
    }
}

@media(min-width:400px) {

    .img,
    .img-2,
    .img-3,
    .img-4,
    .img-5,
    .img-6 {
        margin-left: -.5rem;
    }
}

@media(min-width:768px) {

    .img,
    .img-2,
    .img-3,
    .img-4,
    .img-5,
    .img-6 {
        margin-left: -3rem;
    }

    .arriba {
        width: 10%;
    }
}

@media(min-width:1024px) {
    .arriba {
        display: none;
    }
}

@media(min-width:1200px) {


    .concepto__p {
        font-size: 1.5rem;
    }

    .plato__mes {
        padding: 0 3rem;
        font-size: 1.5rem;
    }

    .modal-body p {
        font-size: 1rem;
    }

}